<app-header [showInput]="false"></app-header>

<div *ngIf="user" class="user-details-card">
  <button (click)="goBack()">Back</button>

  <div class="user-body">
    <img [src]="user.avatar" alt="User Avatar" class="user-large-image" />
    <div class="user-info">
      <p>
        <strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}
      </p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>User Id:</strong> {{ user.id }}</p>
    </div>
  </div>
  <p class="user-description">
    Support: To keep ReqRes free, contributions towards server costs are
    appreciated!
  </p>
</div>
