<div class="pagination-controls">
  <label for="items-per-page">Items per page:</label>
  <select
    id="items-per-page"
    [(ngModel)]="itemsPerPage"
    (change)="onItemsPerPageChange(itemsPerPage)"
  >
    <option *ngFor="let option of itemsPerPageOptions" [value]="option">
      {{ option }}
    </option>
  </select>

  <span>
    {{ (currentPage - 1) * itemsPerPage + 1 }} -
    {{ getMaxPerPage()  }} of {{numberOfUsers}}
  </span>
  <button
    (click)="onPageChange(currentPage - 1)"
    [disabled]="currentPage === 1"
  >
    &lt;
  </button>
  <button
    (click)="onPageChange(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    &gt;
  </button>
</div>
