.pagination-controls {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.pagination-controls button {
  margin: 0 0px;
  background-color: transparent;
  font-weight: bolder;
  font-size: large;
  color: rgb(59, 56, 56);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  color: rgba(155, 157, 157, 0.702);
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 16px;
  margin: 0 10px;
}
select {
  margin: 0 5px;
  padding: 10px 7px;
  padding-right: 25px;
  color:rgb(149, 142, 155);
  border-color: rgb(131, 133, 135);
  border-radius: 5px;

}
@media (max-width: 600px) {
  .pagination-controls {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }



  .controls {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
