.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 20px;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
  align-self: flex-end;
  margin: 10px 0;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background-color: white;
}

.user-card:hover {
  background-color: #f9f9f9;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.user-info {
  width: 100%;
  text-align: left;
}

.user-info h3 {
  margin: 0;
  font-size: 20px;
}

.user-info p {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #666;
}

.user-info hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.view-details-button {
  align-self: flex-start;
  padding: 7px 15px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-details-button:hover {
  background-color: #303f9f;
}

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  background-color: #ece5e5;
  color: #2c2b2b;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  z-index: 1001;
}

.error h3 {
  margin: 0;
  margin-bottom: 10px;
}

.error p {
  margin: 0;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loading-container p {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.loading-container img {
  width: 50px;
  height: 50px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .user-list-container,
  .user-details-container {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    border: none;
  }

  .user-card {
    flex-direction: row;
    align-items: center;
  }

  .avatar {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .user-info {
    flex-grow: 1;
  }

  .view-details-button {
    align-self: flex-end;
  }
}
