@if(showParentContent){
<app-header (searchId)="handleSearch($event)"></app-header>

<div *ngIf="isLoading" class="loading-container">
  <p>Loading users...</p>
  <img src="loading.gif" alt="Loading" />
</div>

<div *ngIf="errorMessage" class="error-overlay">
  <div class="error">
    <h3>Error Requesting Data</h3>
    <p>{{ errorMessage }}</p>
  </div>
</div>

<div *ngIf="!isLoading && !errorMessage " class="container">
  <div class="user-list-container">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [itemsPerPage]="itemsPerPage"
      [itemsPerPageOptions]="itemsPerPageOptions"
      (pageChanged)="onPageChanged($event)"
      (itemsPerPageChanged)="onItemsPerPageChanged($event)"
      class="pagination"
    >
    </app-pagination>

    <ul class="user-list">
      <app-user *ngFor="let user of filteredUsers" [user]="user"></app-user>
    </ul>
  </div>
</div>}

<router-outlet></router-outlet>
